In [1]:
import pandas as pd

In [2]:
df=read_csv('qw.csv')

NameError: name 'read_csv' is not defined

In [3]:
df=pd.read_csv('qw.csv')

In [4]:
print(df)

     School ID                                     NAME_OF_SCHOOL  \
0       610038                  Abraham Lincoln Elementary School
1       610281  Adam Clayton Powell Paideia Community Academy ...
2       610185                Adlai E Stevenson Elementary School
3       609993                    Agustin Lara Elementary Academy
4       610513                      Air Force Academy High School
..         ...                                                ...
561     610172                William T Sherman Elementary School
562     609844                 William W Carter Elementary School
563     610088                Wolfgang A Mozart Elementary School
564     609977               Woodlawn Community Elementary School
565     610392                 World Language Academy High School

    Elementary, Middle, or High School          Street Address     City State  \
0                                   ES        615 W Kemper Pl   Chicago    IL
1                                   ES  7511 S South Shore Dr   Chicago    IL
2                                   ES     8010 S Kostner Ave   Chicago    IL
3                                   ES     4619 S Wolcott Ave   Chicago    IL
4                                   HS        3630 S Wells St   Chicago    IL
..                                 ...                     ...      ...   ...
561                                 ES         1000 W 52nd St   Chicago    IL
562                                 ES    5740 S Michigan Ave   Chicago    IL
563                                 ES      2200 N Hamlin Ave   Chicago    IL
564                                 ES     6657 S Kimbark Ave   Chicago    IL
565                                 HS     3120 S Kostner Ave   Chicago    IL

     ZIP Code    Phone Number  \
0       60614  (773) 534-5720
1       60649  (773) 535-6650
2       60652  (773) 535-2280
3       60609  (773) 535-4389
4       60609  (773) 535-1590
..        ...             ...
561     60609  (773) 535-1757
562     60637  (773) 535-0860
563     60647  (773) 534-4160
564     60637  (773) 535-0801
565     60623  (773) 535-4334

                                                 Link   \
0    http://schoolreports.cps.edu/SchoolProgressRep...
1    http://schoolreports.cps.edu/SchoolProgressRep...
2    http://schoolreports.cps.edu/SchoolProgressRep...
3    http://schoolreports.cps.edu/SchoolProgressRep...
4    http://schoolreports.cps.edu/SchoolProgressRep...
..                                                 ...
561  http://schoolreports.cps.edu/SchoolProgressRep...
562  http://schoolreports.cps.edu/SchoolProgressRep...
563  http://schoolreports.cps.edu/SchoolProgressRep...
564  http://schoolreports.cps.edu/SchoolProgressRep...
565  http://schoolreports.cps.edu/SchoolProgressRep...

                        Network Manager  ... Freshman on Track Rate %  \
0          Fullerton Elementary Network  ...                      NDA
1             Skyway Elementary Network  ...                      NDA
2             Midway Elementary Network  ...                      NDA
3           Pershing Elementary Network  ...                      NDA
4    Southwest Side High School Network  ...                     91.8
..                                  ...  ...                      ...
561                        AUSL Schools  ...                      NDA
562     Burnham Park Elementary Network  ...                      NDA
563        Fullerton Elementary Network  ...                      NDA
564     Burnham Park Elementary Network  ...                      NDA
565       West Side High School Network  ...                       76

    X_COORDINATE Y_COORDINATE   Latitude  Longitude COMMUNITY_AREA_NUMBER  \
0    1171699.458  1915829.428  41.924497 -87.644522                     7
1    1196129.985  1856209.466  41.760324 -87.556736                    43
2    1148427.165  1851012.215  41.747111 -87.731702                    70
3    1164504.290  1873959.199  41.809757 -87.672145                    61
4    1175177.622  1880745.126  41.828146 -87.632794                    34
..           ...          ...        ...        ...                   ...
561  1170500.817  1870373.159  41.799788 -87.650255                    61
562  1178101.365  1866810.123  41.789841 -87.622490                    40
563  1150644.396  1914368.955  41.920927 -87.721925                    22
564  1185825.188  1860883.579  41.773400 -87.594356                    42
565  1147521.302  1883405.128  41.836020 -87.734195                    30

    COMMUNITY_AREA_NAME  Ward Police District                     Location
0          LINCOLN PARK    43              18  (41.92449696, -87.64452163)
1           SOUTH SHORE     7               4  (41.76032435, -87.55673627)
2               ASHBURN    13               8  (41.74711093, -87.73170248)
3              NEW CITY    20               9    (41.8097569, -87.6721446)
4         ARMOUR SQUARE    11               9  (41.82814609, -87.63279369)
..                  ...   ...             ...                          ...
561            NEW CITY    16               9  (41.79978772, -87.65025483)
562     WASHINGTON PARK    20               2  (41.78984129, -87.62248974)
563        LOGAN SQUARE    35              25  (41.92092734, -87.72192541)
564            WOODLAWN     5               3  (41.77339962, -87.59435584)
565      SOUTH LAWNDALE    22              10  (41.83601953, -87.73419465)

[566 rows x 78 columns]

In [5]:
df.head()

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [6]:
df.low()

AttributeError: 'DataFrame' object has no attribute 'low'

In [7]:
df.head(12)

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
5,610212,Albany Park Multicultural Academy,MS,4929 N Sawyer Ave,Chicago,IL,60625,(773) 534-5108,http://schoolreports.cps.edu/SchoolProgressRep...,O'Hare Elementary Network,...,NDA,1153858.196,1932691.891,41.971143,-87.709627,14,ALBANY PARK,39,17,"(41.9711433, -87.70962725)"
6,609720,Albert G Lane Technical High School,HS,2501 W Addison St,Chicago,IL,60618,(773) 534-5400,http://schoolreports.cps.edu/SchoolProgressRep...,North-Northwest Side High School Network,...,90.7,1158975.392,1923791.705,41.946617,-87.691056,5,NORTH CENTER,47,19,"(41.94661693, -87.69105603)"
7,610342,Albert R Sabin Elementary Magnet School,ES,2216 W Hirsch St,Chicago,IL,60622,(773) 534-4491,http://schoolreports.cps.edu/SchoolProgressRep...,Fulton Elementary Network,...,NDA,1161265.299,1909314.592,41.906843,-87.683043,24,WEST TOWN,1,14,"(41.90684338, -87.68304259)"
8,610524,Alcott High School for the Humanities,HS,2957 N Hoyne Ave,Chicago,IL,60618,(773) 534-5979,http://schoolreports.cps.edu/SchoolProgressRep...,North-Northwest Side High School Network,...,87.6,1161870.556,1919857.440,41.935761,-87.680524,5,NORTH CENTER,1,19,"(41.93576106, -87.68052441)"
9,610209,Alessandro Volta Elementary School,ES,4950 N Avers Ave,Chicago,IL,60625,(773) 534-5080,http://schoolreports.cps.edu/SchoolProgressRep...,O'Hare Elementary Network,...,NDA,1149774.095,1932831.151,41.971606,-87.724641,14,ALBANY PARK,39,17,"(41.97160605, -87.72464139)"
10,609799,Alexander Graham Bell Elementary School,ES,3730 N Oakley Ave,Chicago,IL,60618,(773) 534-5150,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1160327.881,1924862.722,41.949528,-87.686055,5,NORTH CENTER,47,19,"(41.94952795, -87.68605496)"
11,609947,Alexander Graham Elementary School,ES,4436 S Union Ave,Chicago,IL,60609,(773) 535-1308,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1172335.702,1875308.997,41.813292,-87.643381,61,NEW CITY,11,9,"(41.81329195, -87.64338051)"

In [8]:
df.column()

AttributeError: 'DataFrame' object has no attribute 'column'

In [9]:
df.ttaail(9)

AttributeError: 'DataFrame' object has no attribute 'ttaail'

In [10]:
df.tail(9)

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
557,610097,William P Nixon Elementary School,ES,2121 N Keeler Ave,Chicago,IL,60639,(773) 534-4375,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1148073.735,1913864.663,41.919593,-87.731384,20,HERMOSA,30,25,"(41.91959342, -87.73138368)"
558,609711,William Rainey Harper High School,HS,6520 S Wood St,Chicago,IL,60636,(773) 535-9150,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,64.2,1165424.867,1861341.255,41.775112,-87.669126,67,WEST ENGLEWOOD,15,7,"(41.77511222, -87.66912563)"
559,610232,Williams Multiplex Elementary School,ES,2710 S Dearborn St,Chicago,IL,60616,(773) 534-9245,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1176275.784,1886545.486,41.844038,-87.628590,35,DOUGLAS,3,1,"(41.84403809, -87.62859008)"
560,610336,Williams Preparatory Academy Middle School,MS,2710 S Dearborn St,Chicago,IL,60616,(773) 534-9235,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1176275.784,1886545.486,41.844038,-87.628590,35,DOUGLAS,3,1,"(41.84403809, -87.62859008)"
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1170500.817,1870373.159,41.799788,-87.650255,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1178101.365,1866810.123,41.789841,-87.622490,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1150644.396,1914368.955,41.920927,-87.721925,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1185825.188,1860883.579,41.773400,-87.594356,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,76,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [11]:
df.sample(4)

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
336,609807,Lionel Hampton Fine & Performing Arts Elementa...,ES,3434 W 77th St,Chicago,IL,60652,(773) 535-4030,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1154672.983,1853379.243,41.753484,-87.708753,70,ASHBURN,18,8,"(41.75348432, -87.70875287)"
235,610532,Irene C. Hernandez Middle School for the Advan...,MS,3510 W 55th St,Chicago,IL,60632,(773) 535-8850,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1153845.758,1867957.685,41.793506,-87.711398,63,GAGE PARK,14,8,"(41.79350627, -87.71139803)"
390,609806,Myra Bradwell Communications Arts & Sciences E...,ES,7736 S Burnham Ave,Chicago,IL,60649,(773) 535-6600,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1196028.811,1854039.898,41.754373,-87.557179,43,SOUTH SHORE,7,4,"(41.7543734, -87.55717881)"
213,609974,Hawthorne Elementary Scholastic Academy,ES,3319 N Clifton Ave,Chicago,IL,60657,(773) 534-5550,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,NDA,1168069.526,1922284.759,41.942290,-87.657673,6,LAKE VIEW,44,19,"(41.94228994, -87.65767253)"

In [12]:
df[['School ID']]

     School ID
0       610038
1       610281
2       610185
3       609993
4       610513
..         ...
561     610172
562     609844
563     610088
564     609977
565     610392

[566 rows x 1 columns]

In [17]:
df[['City']]

        City
0    Chicago
1    Chicago
2    Chicago
3    Chicago
4    Chicago
..       ...
561  Chicago
562  Chicago
563  Chicago
564  Chicago
565  Chicago

[566 rows x 1 columns]

In [24]:
df[['city']==Chicago]

NameError: name 'Chicago' is not defined

In [25]:
df[['School ID']<5]

TypeError: '<' not supported between instances of 'list' and 'int'

In [26]:
df.dtypes()

TypeError: 'Series' object is not callable

In [27]:
dtypes(df)

NameError: name 'dtypes' is not defined

In [28]:
df.describe()

,School ID,ZIP Code,SAFETY_SCORE,Environment Score,Instruction Score,Rate of Misconducts (per 100 students),ISAT Exceeding Math %,ISAT Exceeding Reading %,ISAT Value Add Math,ISAT Value Add Read,COLLEGE_ENROLLMENT,General Services Route,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,Ward,Police District
count,566.000000,566.000000,513.000000,513.000000,513.000000,566.000000,476.000000,476.000000,468.000000,468.000000,566.000000,566.000000,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566.000000,566.000000
mean,609681.791519,60629.727915,49.504873,47.766082,48.288499,21.085866,20.356303,15.667017,0.068590,0.022650,626.053004,39.084806,1.163016e+06,1.885663e+06,41.841890,-87.677323,37.706714,22.060071,11.710247
std,8831.060946,20.248024,20.110837,16.215584,17.417176,27.543835,16.850870,15.208361,1.041174,1.042543,448.495105,6.165552,1.605930e+04,3.285688e+04,0.090361,0.058390,21.584135,13.645574,6.688582
min,400018.000000,60605.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-3.500000,-5.000000,21.000000,29.000000,1.118114e+06,1.817242e+06,41.653674,-87.841052,1.000000,1.000000,1.000000
25%,609873.250000,60618.000000,35.000000,37.000000,37.000000,4.525000,9.175000,6.100000,-0.600000,-0.600000,342.250000,34.000000,1.152166e+06,1.860248e+06,41.771866,-87.717152,23.000000,10.000000,7.000000
50%,610052.500000,60625.000000,48.000000,47.000000,47.000000,12.250000,16.000000,10.950000,0.000000,0.000000,504.000000,39.000000,1.163553e+06,1.886889e+06,41.845521,-87.675878,31.500000,21.000000,10.000000
75%,610212.750000,60639.000000,61.000000,58.000000,59.000000,26.975000,24.900000,19.525000,0.700000,0.625000,790.500000,45.000000,1.174256e+06,1.911652e+06,41.913584,-87.636059,58.000000,32.750000,17.000000
max,610544.000000,60827.000000,99.000000,99.000000,99.000000,251.600000,100.000000,100.000000,3.600000,4.900000,4368.000000,49.000000,1.202811e+06,1.950960e+06,42.021064,-87.533007,77.000000,50.000000,25.000000